body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container1 {
    display: flex;
    min-height: 100vh;
    width: 100vw;
}
.sidebar {
    width: 20%;
    background-color: #e0e0e0;
    padding: 20px;
    text-align: center;
}
.sidebar img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.sidebar p {
    margin: 15px 0;
    font-size: 1.2em;
}
.main-content {
    width: 80%;
    padding: 20px;
}
.main-content h1 {
    text-align: center;
    font-size: 48px;
    margin-bottom: 40px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    justify-items: center;
}
.grid-item {
    width: 180px;
    height: 180px;
    background-color: #d3d3d3;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
.grid-item img {
    width: 100px;
    height: 100px;
}
.grid-item p {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
}
.static-table {
    margin-top: 40px;
    margin-bottom: 100px;
  }
.static-table h2{
    text-align: center;
}
  .static-table table {
    width: 100%;
    border-collapse: collapse;
    
  }
  
  .static-table th,
  .static-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  .static-table thead {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  .static-table th {
    background-color: #e0e0e0a1;
    font-weight: bold;
  }
  
  .static-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .static-table tr:hover {
    background-color: #f1f1f1;
  }
  